<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Home</title>

    <!-- Normalize V8.0.1 -->
    <link href="~/Vendors/css/normalize.css" rel="stylesheet" />

    <!-- Bootstrap V4.3 -->
    <link href="~/Vendors/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap Material Design V4.0 -->
    <link href="~/Vendors/css/bootstrap-material-design.min.css" rel="stylesheet" />

    <!-- Font Awesome V5.9.0 -->
    <link href="~/Vendors/css/all.css" rel="stylesheet" />

    <!-- Sweet Alerts V8.13.0 CSS file -->
    <link href="~/Vendors/css/sweetalert2.min.css" rel="stylesheet" />

    <!-- Sweet Alert V8.13.0 JS file-->
    <script src="~/Vendors/js/sweetalert2.min.js"></script>

    <!-- jQuery Custom Content Scroller V3.1.5 -->
    <link href="~/Vendors/css/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- General Styles -->
    <link href="~/Vendors/css/style.css" rel="stylesheet" />


</head>
<body>

    <!-- Main container -->
    <main class="full-box main-container">
        <!-- Nav lateral -->
        <section class="full-box nav-lateral">
            <div class="full-box nav-lateral-bg show-nav-lateral"></div>
            <div class="full-box nav-lateral-content">
                <figure class="full-box nav-lateral-avatar">
                    <i class="far fa-times-circle show-nav-lateral"></i>
                    <img src="~/Vendors/assets/avatar/Avatar.png" class="img-fluid" alt="Avatar">
                    <figcaption class="roboto-medium text-center">
                        @Session["NombreUser"] @Session["ApellidoUser"]<br><small class="roboto-condensed-light">Rol: @Session["RolUser"] </small>
                    </figcaption>
                </figure>
                <div class="full-box nav-lateral-bar"></div>
                <nav class="full-box nav-lateral-menu">
                    <ul>
                        <li>
                            <a href="#"><i class="fab fa-dashcube fa-fw"></i> &nbsp; Panel de Control</a>
                        </li>

                        <li>
                            <a href="#" class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Gestión de usuarios <i class="fas fa-chevron-down"></i></a>
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-plus fa-fw"></i> &nbsp; Agregar Usuario</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista De Usuarios</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-search fa-fw"></i> &nbsp; Buscar Usuario</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="nav-btn-submenu"><i class="fas fa-pallet fa-fw"></i> &nbsp; Gestión De Productos <i class="fas fa-chevron-down"></i></a>
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-plus fa-fw"></i> &nbsp; Agregar Producto</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AlmacenarProducto", "InventarioProducto")"><i class="fas fa-plus fa-fw"></i> &nbsp; Recepcionar Productos</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("RegistrarSalidaProducto", "SalidaProducto")"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Entrega de Productos</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-search fa-fw"></i> &nbsp; Lista de Productos</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="nav-btn-submenu"><i class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Gestión de Almacén <i class="fas fa-chevron-down"></i></a>
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-plus fa-fw"></i> &nbsp; Nuevo Almacén</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de Almacenes</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar Almacén</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

        <!-- Page content -->
        <section class="full-box page-content">
            <nav class="full-box navbar-info">
                <a href="#" class="float-left show-nav-lateral">
                    <i class="fas fa-exchange-alt"></i>
                </a>
                <a href="#">
                    <i class="fas fa-user-cog"></i>
                </a>
                <a href="#" class="btn-exit-system">
                    <i class="fas fa-power-off"></i>
                </a>
            </nav>

            <!-- Content -->
            <div class="full-box tile-container">

                @RenderBody()

            </div>


        </section>
    </main>


    <!--=============================================
    =            Include JavaScript files           =
    ==============================================-->
    <!-- jQuery V3.4.1 -->
    <script src="~/Vendors/js/jquery-3.4.1.min.js"></script>

    <!-- popper -->
    <script src="~/Vendors/js/popper.min.js"></script>

    <!-- Bootstrap V4.3 -->
    <script src="~/Vendors/js/bootstrap.min.js"></script>

    <!-- jQuery Custom Content Scroller V3.1.5 -->
    <script src="~/Vendors/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Bootstrap Material Design V4.0 -->
    <script src="~/Vendors/js/bootstrap-material-design.min.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    <script src="~/Vendors/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
